/* Styling form and resume sections */

 body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}

form {
    margin: auto;
    background-color: rgb(247, 245, 163);
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid rgb(242, 245, 89);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(247, 245, 163);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(242, 245, 89) ;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(252, 249, 96);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(43, 178, 240);
}

.resume-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(242, 245, 89);
    border-radius: 8px;
    background-color: rgb(247, 245, 163);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Edit Resume */
    outline: none;
}

.resume-container{
    display: flex;
    background-color: rgb(247, 245, 163);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    border-bottom: 3px solid rgb(45, 63, 82); 
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Left Section Styling */
.left-section {
    padding: 20px;
    width: 65%;
}

#download-pdf {
    width: 20%; 
}

#shareable-link-container {
    display: flex;
    align-items: center;
    padding-left: 50px;
}


 
